@forward "components/theme";
@forward "components/buttons";

@forward "layout/header";
@forward "layout/sidebar-area";
@forward "layout/blog";
@forward "layout/page-header";
@forward "layout/contact";
@forward "layout/blog-details";
@forward "layout/about";
@forward "layout/promo";
@forward "layout/course";
@forward "layout/counter";
@forward "layout/faq";
@forward "layout/team";
@forward "layout/hero";
@forward "layout/content";
@forward "layout/request";
@forward "layout/feature";
@forward "layout/cta";
@forward "layout/testi";
@forward "layout/sponsor";
@forward "layout/video";
@forward "layout/event";
@forward "layout/popular";
@forward "layout/insta";
@forward "layout/pricing";
@forward "layout/shop";
@forward "layout/slider";
@forward "layout/checkout";
@forward "layout/cart";
@forward "layout/course-category";
@forward "layout/home-6";
@forward "layout/home-7";
@forward "layout/home-8";
@forward "layout/home-9";
@forward "layout/home-10";
@forward "layout/home-11";
@forward "layout/home-12";
@forward "layout/home-13";
@forward "layout/home-14";
@forward "layout/home-15";
@forward "layout/home-16";
@forward "layout/home-17";
@forward "layout/home-18";
@forward "layout/home-19";
@forward "layout/home-20";
@forward "layout/home-21";
@forward "layout/footer";
