@use "../utilities" as *;

/**----------------------------------------
START: Home 20 CSS
----------------------------------------*/


// Hero CSS

.hero-section-20{
    background-color: #F2F4F7;
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .shape-3{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            @include breakpoint(lg){
                height: 100%;
                img{
                    height: 100%;
                }
            }
            @include breakpoint(sm){
                display: none;
            }
        }
        .shape-4{
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            @include breakpoint(sm){
                display: none;
            }
        }
        .shape-5{
            position: absolute;
            left: 75px;
            bottom: 80px;
            z-index: -1;
            @include breakpoint(sm){
                display: none;
            }
        }
        .shape-6{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        .shape-7{
            position: absolute;
            bottom: 70px;
            right: 0;
            z-index: -1;
            @include breakpoint(sm){
                display: none;
            }
        }
    }
}

.hero-wrap-20{
    align-items: center;
    padding: 90px 0;
    @include breakpoint(lg){
        row-gap: 40px;
    }
}

.hero-img-wrap-20{
    background-color: var(--ed-color-common-white);
    height: 617px;
    max-width: 617px;
    width: 100%;
    border-radius: 50%;
    position: relative;
    border: 1px dashed var(--ed-color-theme-primary);
    @include breakpoint(sm){
        height: 300px;
        width: 300px;
    }
    @include breakpoint(lg){
        margin: 0 auto;
    }
    .hero-img{
        height: 528px;
        width: 528px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include breakpoint(sm){
            height: 280px;
            width: 280px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.hero-content-20{
    padding: 0;
    .section-heading{
        .section-title{
            font-size: 54px;
            font-weight: 600;
            @include breakpoint(sm){
                font-size: 36px;
                br{
                    display: none;
                }
            }
        }
    }
}

// Feature CSS

.feature-item-20{
    background: var(--ed-color-common-white);
    box-shadow: 0px 12px 54px rgba(11, 26, 24, 0.09);
    border-radius: 15px;
    padding: 40px;
    border: 1px solid transparent;
    @include transition(all 0.3s ease-in-out);
    @include breakpoint(sm){
        padding: 30px 20px;
    }
    .feature-inner{
        display: grid;
        align-items: center;
        grid-template-columns: 70px 1fr;
        grid-gap: 20px;
        margin-bottom: 30px;
        @include breakpoint(sm){
            grid-template-columns: 1fr;
        }
        .icon{
            background-color: #F2F4F7;
            height: 70px;
            width: 70px;
            @include flex-center;
            border-radius: 10px;
        }
        .content{
            .title{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 0;
                @include breakpoint(md){
                    font-size: 20px;
                }
            }
        }
    }
    p{
        margin-bottom: 25px;
    }
    .feature-btn{
        .ed-primary-btn{
            background-color: var(--ed-color-common-white);
            padding: 12px 30px;
            border: 1px solid #E0E5EB;
            color: var(--ed-color-theme-primary);
            &:before{
                background-color: var(--ed-color-theme-primary);
            }
            &:hover{
                color: var(--ed-color-common-white);
            }
        }
    }
    &:hover{
        border-color: var(--ed-color-theme-primary);
    }
}

// About CSS

.about-left-content{
    @include flex-vertical-center;
    align-items: start;
    @include breakpoint(sm){
        flex-direction: column;
        row-gap: 40px;
    }
    .about-counter-list{
        background-color: #F2F4F7;
        max-width: 220px;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        @include breakpoint(sm){
            margin: 0 auto;
        }
        .about-counter{
            background-color: var(--ed-color-common-white);
            border: 1px solid #E0E5EB;
            border-radius: 10px;
            overflow: hidden;
            &:not(:last-of-type){
                margin-bottom: 10px;
            }
            .counter-inner{
                padding: 22.5px 20px;
                .title{
                    color: var(--ed-color-theme-primary);
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 1;
                    margin-bottom: 0;
                    @include flex-vertical-center;
                    justify-content: center;
                    .odometer-auto-theme{
                        font-family: inherit;
                        line-height: 1;
                    }
                }
            }
            p{
                background-color: var(--ed-color-theme-primary);
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: var(--ed-color-common-white);
                padding: 3.5px 20px;
                width: 100%;
            }
        }
    }
    .about-img-20{
        background: var(--ed-color-common-white);
        box-shadow: 0px 10px 46px 3px rgba(14, 33, 31, 0.23);
        border-radius: 10px;
        padding: 10px;
        height: 520px;
        max-width: 393px;
        width: 100%;
        margin-left: 24px;
        @include breakpoint(sm){
            margin-left: 0;
            height: 400px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.about-content-20{
    padding-left: 40px;
    @include breakpoint(md){
        padding-left: 0;
        margin-top: 40px;
    }
    p{
        max-width: 478px;
        width: 100%;
    }
}

// Course CSS

.course-section-20{
    @include background;
    width: 100%;
    height: 100%;
}

.course-carousel-wrap-20{
    position: relative;
    .swiper-arrow{
        .swiper-nav{
            background-color: var(--ed-color-theme-primary);
            color: var(--ed-color-common-white);
            height: 50px;
            width: 50px;
            @include flex-center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -110px;
            transform: translateY(-50%);
            z-index: 5;
            @include breakpoint(xxl){
                left: -30px;
            }
            @include breakpoint(xl){
                left: 0;
            }
            @include breakpoint(lg){
                display: none;
            }
            &:hover{
                background-color: var(--ed-color-common-white);
                color: var(--ed-color-theme-primary);
            }
            &.swiper-prev{
                left: auto;
                right: -110px;
                @include breakpoint(xxl){
                    right: -30px;
                }
                @include breakpoint(xl){
                    right: 0;
                }
                @include breakpoint(lg){
                    display: none;
                }
            }
        }
    }
}

.course-item.course-item-20{
    background-color: rgba(255, 255, 255, 0.06);
    border-color: rgba(255, 255, 255, 0.07);
    .course-content{
        border-color: rgba(255, 255, 255, 0.1);
    }
}

// Newsletter CSS

.newsletter-section-20{
    background-color: #F2F4F7;
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.newsletter-top{
    .footer-form-wrap{
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
        .footer-form{
            position: relative;
            width: 100%;
            .ed-primary-btn{
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                @include breakpoint(sm){
                    position: relative;
                    top: 0;
                    right: 0;
                    transform: inherit;
                    margin-top: 20px;
                }
            }
            .form-item{
                width: 100%;
                position: relative;
                .form-control{
                    background-color: var(--ed-color-common-white);
                    color: #6C706F;
                    padding: 20px 30px;
                    padding-left: 60px;
                    width: 100%;
                    border-radius: 100px;
                    border: none;
                    box-shadow: none;
                    @include tp-placeholder{
                        color: #6C706F;
                    }
                }
                .icon{
                    color: var(--ed-color-theme-primary);
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}


// Event CSS

.event-20{
    background-color: var(--ed-color-theme-primary);
    margin: 0 60px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include breakpoint(lg){
        margin: 0;
    }
    .shapes{
        .shape-1{
            position: absolute;
            top: 50px;
            left: 30px;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            top: 0;
            right: 100px;
            z-index: -1;
        }
        .shape-3{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .shape-4{
            position: absolute;
            bottom: 150px;
            right: 0;
            z-index: -1;
        }
    }
}

.event-card-20{
    grid-template-columns: 1fr;
    .event-thumb{
        height: 264px;
        max-width: 100%;
    }
}

.event-card-wrap-20{
    .event-card{
        &:not(:last-of-type){
            margin-bottom: 24px;
        }
    }
}

// Team CSS

.team-item-20{
    padding: 20px;
    .team-thumb{
        width: 100%;
        height: 310px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        &:before{
            background: linear-gradient(180deg, rgba(22, 39, 38, 0) 20.97%, #162726 100%);
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
        .social-list{
            display: inline-flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            z-index: 5;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
            li{
                &:not(:last-of-type){
                    margin-right: 10px;
                }
                a{
                    background-color: var(--ed-color-common-white);
                    color: var(--ed-color-theme-primary);
                    font-size: 15px;
                    height: 40px;
                    width: 40px;
                    border: 1px solid #E0E5EB;
                    border-radius: 50%;
                    @include flex-center;
                    &:hover{
                        background-color: var(--ed-color-theme-primary);
                        color: var(--ed-color-common-white);
                        border: 1px solid var(--ed-color-theme-primary);
                    }
                }
            }
        }
    }
    &:hover{
        .team-thumb{
            &:before{
                visibility: visible;
                opacity: 1;
            }
            .social-list{
                visibility: visible;
                opacity: 1;
                bottom: 30px;
            }
        }
    }
}


// Pricing CSS

.pricing-section-20{
    background-color: #162726;
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.pricing-item-20{
    background-color: var(--ed-color-common-white);
    padding: 0;
    .pricing-item-top{
        padding: 40px;
        border-bottom: 1px solid #E0E5EB;
        @include breakpoint(lg){
            padding: 30px 20px;
        }
        .pricing-offer{
            @include breakpoint(lg){
                br{
                    display: none;
                }
            }
        }
        .price{
            margin-top: 15px;
            font-size: 40px;
            color: var(--ed-color-theme-primary);
            margin-bottom: 0;
            line-height: 1;
            span{
                font-size: 16px;
                font-weight: 400;
                color: var(--ed-color-heading-primary);
            }
        }
    }
    .pricing-item-bottom{
        padding: 40px;
        @include breakpoint(lg){
            padding: 30px 20px;
        }
        .pricing-list-wrap{
            margin-bottom: 30px;
            .list-title{
                margin-bottom: 20px;
            }
        }
        .pricing-btn{
            .ed-primary-btn{
                background-color: var(--ed-color-theme-primary);
                color: var(--ed-color-common-white);
                &:before{
                    background-color: #162726;
                }
                &:hover{
                    border-color: #162726;
                    color: var(--ed-color-theme-primary);
                }
            }
        }
    }
    &.active{
        background-color: var(--ed-color-theme-primary);
        .pricing-item-top{
            border-color: rgba(255, 255, 255, 0.15);
            .price{
                color: var(--ed-color-common-white);
                span{
                    color: var(--ed-color-common-white);
                }
            }
        }
        .pricing-item-bottom{
            .pricing-list{
                li{
                    i{
                        color: var(--ed-color-common-white);
                    }
                }
            }
            .pricing-btn{
                .ed-primary-btn{
                    background-color: var(--ed-color-common-white);
                    color: var(--ed-color-theme-primary);
                }
            }
        }
    }
}

// Footer CTA 

.footer-cta-area{
    background-color: var(--ed-color-theme-primary);
    position: relative;
    z-index: 1;
    overflow: hidden;
    .shape-1{
        position: absolute;
        bottom: 0;
        right: 80px;
        z-index: -2;
    }
    .shape-2{
        position: absolute;
        top: 50px;
        left: 20px;
        z-index: -1;
        @include breakpoint(md){
            display: none;
        }
    }
}

.footer-cta-content{
    padding: 105px 0 95px 0;
    position: relative;
    z-index: 1;
    width: 100%;
    @include breakpoint(md){
        padding: 70px 0;
    }
    .section-heading{
        .section-title{
            br{
                display: block;
            }
        }
    }
    .laptop-img{
        position: absolute;
        bottom: 0;
        right: -50px;
        z-index: -1;
        @include breakpoint(lg){
            right: -200px;
        }
        @include breakpoint(md){
            display: none;
        }
    }
}


/* !END: Home 20 CSS */
