@use "../utilities" as *;

/**----------------------------------------
START: Home 13 CSS
----------------------------------------*/

.hero-section-13{
    background: linear-gradient(180deg, #E2F3F2 0%, rgba(196, 255, 250, 0.8) 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    .shapes{
        @include breakpoint(sm){
            display: none;
        }        
        .shape-1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            top: 45%;
            left: 0;
            transform: translateY(-50%);
            z-index: -1;
        }
        .shape-3{
            position: absolute;
            bottom: 70px;
            left: 0;
            z-index: -2;
        }
        .shape-4{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .shape-5{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            background: #162726;
            mix-blend-mode: soft-light;
            border-radius: 0px 0px 0px 450px;
            transform: matrix(1, 0, 0, -1, 0, 0);     
            width: 557px;
            height: 693px;
        }
    }
}

.hero-wrap-13{
    position: relative;
    z-index: 1;
    @include breakpoint(xl){
        padding: 0 10px;
    }
    .hero-img-wrap-13{
        max-width: 808px;
        width: 100%;
        height: 696px;
        position: absolute;
        bottom: 0;
        right: -95px;
        @include breakpoint(md){
            position: relative;
            right: 0;
        }
        @include breakpoint(sm){
            display: none;
        }
        .hero-men{
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .round-shape{
            background: #07A698;
            filter: blur(225px);
            height: 400px;
            width: 400px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 12%;
        }
    }
}

.hero-content-13{
    padding: 190px 0;
    position: relative;
    z-index: 5;
    @include breakpoint(md){
        padding-top: 100px;
        padding-bottom: 50px;
    }
    @include breakpoint(sm){
        padding-bottom: 100px;
    }
    .section-heading{
        .section-title{
            color: var(--ed-color-heading-primary);
            font-size: 66px;
            @include breakpoint(xl){
                br{
                    display: block;
                }
            }
            @include breakpoint(sm){
                font-size: 32px;
            }
        }
    }
    p{
        color: var(--ed-color-text-body);
        font-size: 18px;
    }
    .hero-btn-wrap{
        .hero-btn-2{
            border: 1px solid var(--ed-color-theme-primary);
        }
    }
}



// Feature CSS

.feature-item-13{
    background-color: #F2F4F7;
    border: 1px solid #E0E5EB;
    border-radius: 15px;
    padding: 20px;
    @include breakpoint(sm){
        padding: 10px;
    }
    .feature-item-inner{
        background-color: var(--ed-color-common-white);
        border-radius: 15px;
        text-align: center;
        .feature-img{
            padding: 30px 20px;
            border-bottom: 1px solid #E0E5EB;
            margin-bottom: 30px;
            height: 280px;
            @include breakpoint(sm){
                height: 240px;
            }
            img{
                height: 100%;
            }
        }
        .feature-content{
            padding: 0 20px;
            padding-bottom: 40px;
            .title{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 20px;
                line-height: 1;
                @include breakpoint(sm){
                    font-size: 20px;
                }
            }
            p{
                margin-bottom: 25px;
                @include breakpoint(lg){
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}

// About CSS

.about-section-13{
    background-color: #1F2A2A;
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.about-img-13{
    max-width: 473px;
    width: 100%;
    height: 473px;
    border-radius: 50%;
    overflow: hidden;
    @include breakpoint(sm){
        max-width: 300px;
        height: 300px;
    }
}

.about-content-13{
    p{
        color: #BCC2C2;
    }
    .about-items{
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        .about-item{
            .title{
                color: var(--ed-color-common-white);
            }
        }
    }
}

// Service CSS

.service-carousel-wrap{
    position: relative;
    .swiper-arrow{
        .swiper-nav{
            color: var(--ed-color-theme-primary);
            position: absolute;
            top: 50%;
            left: -90px;
            transform: translateY(-50%);
            height: 50px;
            width: 50px;
            @include flex-center;
            border-radius: 50%;
            border: 1px solid var(--ed-color-theme-primary);
            @include transition (all 0.3s ease-in-out);
            z-index: 2;
            @include breakpoint(xxl){
                left: -60px;
            }
            @include breakpoint(xl){
                background-color: var(--ed-color-theme-primary);
                color: var(--ed-color-common-white);
                left: 0;
            }
            @include breakpoint(sm){
                top: 40%;
            }
            &:hover{
                background-color: var(--ed-color-theme-primary);
                color: var(--ed-color-common-white);
            }
            &.swiper-prev{
                left: auto;
                right: -90px;
                @include breakpoint(xxl){
                    right: -60px;
                }
                @include breakpoint(xl){
                    right: 0;
                }
            }
        }
    }
}

.service-item{
    border-radius: 15px;
    overflow: hidden;
    .service-thumb{
        height: 496px;
        position: relative;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale3d(1, 1, 1);
            transition: transform 1s ease-in-out;
        }
        .overlay{
            background: linear-gradient(180deg, rgba(22, 39, 38, 0) 15.93%, #162726 100%);
            border-radius: 15px;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .price{
            background-color: var(--ed-color-common-white);
            color: var(--ed-color-theme-primary);
            height: 80px;
            width: 80px;
            @include flex-center;
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 20px;
            font-weight: 700;
            border-radius: 50%;
            z-index: 1;
        }
    }   
    .service-content{
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        z-index: 5;
        .title{
            font-size: 24px;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 20px;
        }
        .ed-primary-btn{
            background-color: var(--ed-color-common-white);
            color: var(--ed-color-theme-primary);
            &:before{
                background-color: var(--ed-color-theme-primary);
            }
            &:hover{
                color: var(--ed-color-common-white);
            }
        }
    }
    &:hover{
        .service-thumb{
            img{
                transform: scale(1.04) rotate(0deg);
            }
        }
    }
}

// Team CSS

.team-section-13{
    background-color: #ECF0F3;
    position: relative;
    z-index: 1;
    .bg-shape{
        background: rgba(7, 166, 152, 0.27);
        filter: blur(200px);
        width: 606px;
        height: 606px;
        position: absolute;
        left: 59px;
        top: 20%;
        transform: translateY(-50%);
        z-index: -1;
    }
}

.team-item-13{
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 280px 402px rgba(25, 50, 48, 0.17);
    .team-img-wrap{
        height: 276px;
        position: relative;
        .team-men{
            max-width: 265px;
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            img{
                height: 100%;
                width: auto;
            }
        }
        .team-img-shape-1{
            position: absolute;
            top: 50px;
            right: 0;
            z-index: 1;
        }
        .team-img-shape-2{
            background-color: var(--ed-color-common-white);
            width: 100%;
            height: 185px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 15px 15px 0 0;
        }
        .round-shape{
            background: #07A698;
            filter: blur(50px);
            height: 127px;
            max-width: 355px;
            width: 100%;
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
        }

    }
    .team-content{
        background-color: var(--ed-color-common-white);
        position: relative;
        z-index: 1;
        backdrop-filter: blur(60px);
        border-radius: 0 0 15px 15px;
        padding: 30px;
        @include breakpoint(lg){
            padding: 30px 20px;
        }
        .title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        span{
            color: var(--ed-color-theme-primary);
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
        }
    }
}

.team-counter-wrapper{
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    &:before{
        background: rgba(255, 255, 255, 0.55);
        border: 1px solid rgba(255, 255, 255, 0.64);
        box-shadow: 0px 4px 30px rgba(25, 38, 48, 0.03);
        backdrop-filter: blur(16px);
        border-radius: 15px;
        content: "";
        width: 95%;
        height: 194px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    &:after{
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.64);
        backdrop-filter: blur(60px);
        border-radius: 15px;
        content: "";
        width: 90%;
        height: 194px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2;
    }
}

.team-counter-wrap{
    background-color: var(--ed-color-common-white);
    box-shadow: 0px 15px 37px rgba(11, 32, 30, 0.13);
    border-radius: 15px;
    padding: 0 80px;
    @include flex-vertical-center;
    position: relative;
    z-index: 5;
    @include breakpoint(lg){
        padding: 0 50px;
    }
    @include breakpoint(sm){
        flex-direction: column;
        align-items: baseline;
        row-gap: 40px;
        padding: 50px 50px;
    }
    .team-counter{
        display: grid;
        align-items: center;
        grid-template-columns: 50px 1fr;
        grid-gap: 20px;
        padding: 75px 0;
        @include breakpoint(md){
            grid-template-columns: 1fr;
        }
        @include breakpoint(sm){
            padding: 0;
        }
        &:not(:last-of-type){
            padding-right: 60px;
            margin-right: 60px;
            border-right: 1px solid #E0E5EB;
            @include breakpoint(lg){
                padding-right: 30px;
                margin-right: 30px;
            }
            @include breakpoint(sm){
                border: none;
                padding: 0;
                margin: 0;
            }
        }
        .content{
            .title{
                font-size: 36px;
                line-height: 1;
                color: var(--ed-color-theme-primary);
                @include flex-vertical-center;
                margin-bottom: 10px;
                .odometer-auto-theme{
                    line-height: 1;
                    font-family: inherit;
                }
            }
            p{
                font-size: 14px;
                text-transform: uppercase;
                color: var(--ed-color-heading-primary);
                font-weight: 500;
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }
}

// FAQ CSS

.faq-content-13{
    margin-left: auto;
    margin-right: 0;
    @include breakpoint(md){
        margin-left: 0;
        margin-right: auto;
    }
}


// Testi CSS

.testi-carousel-wrap-2.wrap-13{
    max-width: 100%;
    .swiper-arrow{
        .swiper-nav{
            background-color: var(--ed-color-theme-primary);
            color: var(--ed-color-common-white);
            z-index: 5;
            left: -100px;
            @include breakpoint(xxl){
                left: -50px;
            }
            @include breakpoint(lg){
                left: 0;
            }
            &.swiper-prev{
                left: auto;
                right: -100px;
                @include breakpoint(xxl){
                    right: -50px;
                }
                @include breakpoint(lg){
                    right: 0;
                }
            }
        }
    }
}

.testi-item-13{
    position: relative;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    @include breakpoint(lg){
        background-color: var(--ed-color-common-white);
    }
    .testi-bg-shape{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .testi-top-content{
        padding: 40px;
        @include breakpoint(lg){
            padding: 40px 20px;
            padding-bottom: 80px;
        }
    }
    .quote{
        margin-bottom: 20px;
    }
    p{
        font-size: 20px;
        color: var(--ed-color-heading-primary);
        margin-bottom: 0;
    }
    .testi-bottom{
        @include flex-vertical-center;
        justify-self: end;
        padding: 0 10px;
        padding-bottom: 10px;
        padding-top: 15px;
        @include breakpoint(lg){
            padding: 0 10px;
            padding-bottom: 20px;
        }
        .rating-box{
            text-align: center;
            span{
                background-color: var(--ed-color-common-white);
                color: var(--ed-color-heading-primary);
                font-size: 14px;
                font-weight: 400;
                padding: 12px 30px;
                line-height: 1;
                display: block;
                border-bottom: 1px solid #E0E5EB;
                border-radius: 10px 10px 0 0;
                border: 1px solid #E0E5EB;
                @include breakpoint(xl){
                    padding: 12px 20px;
                }
            }
            .review{
                background-color: #ECF0F3;
                @include flex-center;
                list-style: none;
                padding: 5px 15px;
                column-gap: 2px;
                border: 1px solid #E0E5EB;
                border-top: none;
                border-radius: 0 0 10px 10px;
                @include breakpoint(xl){
                    padding: 5px 7px;
                }
                li{
                    color: var(--ed-color-theme-primary);
                    font-size: 12px;
                }
            }
        }
    }
    .testi-author-area{
        background-color: var(--ed-color-common-white);
        display: grid;
        align-items: center;
        grid-template-columns: 60px 1fr;
        grid-gap: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 49px 10px 20px;
        border-radius: 15px;
        @include breakpoint(xl){
            padding-right: 23px;
        }
        
        @include breakpoint(lg){
            background-color: transparent;
            padding: 0;
            left: 20px;
            display: grid;
            grid-template-columns: 1fr;
            bottom: 20px;
        }
        .author-img{
            height: 60px;
            width: 60px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .content{
            .name{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 0;
            }
            span{
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

// Blog CSS

.blog-section-13{
    background-color: #F2F4F7;
}

.post-card-13{
    background-color: var(--ed-color-common-white);    
    box-shadow: 0px 16px 62px rgba(17, 51, 48, 0.08);
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
    .post-thumb{
        height: 220px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .post-content{
        padding: 30px;
        @include breakpoint(sm){
            padding: 30px 20px;
        }
        .category{
            padding: 0;
            margin-bottom: 15px;
        }
        .title{
            color: var(--ed-color-heading-primary);
            padding-bottom: 0;
            border: none;
            margin-bottom: 15px;
            a{
                background: linear-gradient(var(--ed-color-theme-primary) 0%, var(--ed-color-theme-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.3s ease-in-out);
                &:hover {
                    color: var(--ed-color-theme-primary);
                    background-size: 100% 2px;
                }
            }
        }
        p{
            margin-bottom: 0;
        }
        .post-bottom{
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px dashed #D1DBDA;
            @include flex-vertical-center;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 10px;
            .post-author{
                @include flex-vertical-center;
                column-gap: 10px;
                span{
                    line-height: 1;
                    color: var(--ed-color-heading-primary);
                    font-weight: 500;
                }
            }
        }
    }
}

/* !END: Home 13 CSS */
