@use "../utilities" as *;

/**----------------------------------------
START: Home 12 CSS
----------------------------------------*/

.header-12{
    border-top: 5px solid var(--ed-color-theme-primary);
    .top-bar{
        background-color: var(--ed-color-common-white);
        border-bottom: 1px solid #E0E5EB;
        .top-bar-inner{
            .top-bar-left{
                .top-bar-list{
                    li{
                        color: var(--ed-color-heading-primary);
                        &:not(:last-of-type){
                            border-right: 1px solid #E0E5EB;
                        }
                        a{
                            color: var(--ed-color-heading-primary);
                            &:hover{
                                color: var(--ed-color-theme-primary);
                            }
                        }
                    }
                }
            }
            .top-bar-right{
                .top-social-wrap{
                    span{
                        color: var(--ed-color-heading-primary);
                    }
                    .social-list{
                        li{
                            color: var(--ed-color-heading-primary);
                            a{
                                color: var(--ed-color-heading-primary);
                                &:hover{
                                    color: var(--ed-color-theme-primary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-bottom{
    background-color: var(--ed-color-heading-primary);
    position: relative;
    z-index: -1;
    padding: 10px 0;
    @include breakpoint(md){
        z-index: 1;
    }
}

.header-carousel{
    .header-item{
        text-align: center;
        a{
            color: var(--ed-color-common-white);
        }
    }
}


// Hero CSS

.hero-section-12{
    background-color: #E3FFFD;
    position: relative;
    z-index: 1;
    .shapes{
        @include breakpoint(md){
            display: none;
        }
        .shape-1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        .shape-3{
            position: absolute;
            bottom: 0;
            left: 150px;
            z-index: -1;
        }
    }
    .hero-img-box{
        max-width: 381px;
        width: 100%;
        height: 444px;
        position: absolute;
        top: 160px;
        left: 120px;
        @include breakpoint(xxxl){
            left: 60px;
        }
        @include breakpoint(xxl){
            left: 0px;
        }
        @include breakpoint(xl){
            left: -30px;
        }
        @include breakpoint(lg){
            display: none;
        }
        .hero-img-1{
            max-width: 305px;
            width: 100%;
            height: 305px;
            position: absolute;
            top: 0;
            left: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                border: 4px solid var(--ed-color-common-white);
            }
        }
        .hero-img-2{
            width: 206px;
            height: 204px;
            position: absolute;
            bottom: 0;
            right: 0;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                border: 4px solid var(--ed-color-common-white);
                box-shadow: 0px 4px 28px rgba(2, 85, 78, 0.29);
            }
        }
        &.hero-img-box-2{
            left: auto;
            right: 120px;
            @include breakpoint(xxxl){
                right: 60px;
            }
            @include breakpoint(xxl){
                right: 0px;
            }@include breakpoint(xl){
                right: -30px;
            }
            .hero-img-1{
                left: auto;
                right: 0;
            }
            .hero-img-2{
                right: auto;
                left: 0;
            }
        }
    }
}

.hero-content-12{
    padding: 190px 0;
    @include breakpoint(md){
        padding: 100px 15px;
    }
    .title{
        @include breakpoint(xl){
            font-size: 46px;
        }
        @include breakpoint(lg){
            font-size: 56px;
        }
        @include breakpoint(sm){
            font-size: 36px;
        }
    }
    ul{
        li{
            color: var(--ed-color-heading-primary);
        }
    }
}

// Exam Css

.exam-carousel-wrap{
    position: relative;
    .swiper-arrow{
        .swiper-nav{
            background-color: var(--ed-color-theme-primary);
            color: var(--ed-color-common-white);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -90px;
            height: 50px;
            width: 50px;
            @include flex-center;
            z-index: 1;
            border-radius: 50%;
            @include breakpoint(xxl){
                left: -25px;
            }
            @include breakpoint(lg){
                left: 0;
            }
            &.swiper-prev{
                left: auto;
                right: -90px;
                @include breakpoint(xxl){
                    right: -25px;
                }
                @include breakpoint(lg){
                    right: 0;
                }
            }
        }
    }
}

.exam-item{
    background-color: #F2F4F7;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 0;
    @include transition(all 0.3s ease-in-out);
    .exam-thumb{
        height: 200px;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .title{
        font-size: 20px;
        font-weight: 600;
    }
    p{
        padding-bottom: 25px;
        margin-bottom: 0;
    }
}

// FD CSS

.fd-wrap{
    background-color: #F2F4F7;
    border: 1px solid #E0E5EB;
    @include flex-vertical-center;
    justify-content: space-between;
    column-gap: 40px;
    padding: 50px;
    padding-left: 80px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include breakpoint(lg){
        padding-left: 50px;
    }
    @include breakpoint(sm){
        padding: 40px 20px;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .round-shape{
        background: #07A698;
        filter: blur(125px);
        height: 799px;
        width: 799px;
        border-radius: 50%;    
        position: absolute;
        top: -97%;
        right: -20%;
        z-index: -1;
    }
    .fd-content{
        max-width: 620px;
        width: 100%;
        .icon{
            background-color: var(--ed-color-common-white);
            height: 90px;
            width: 90px;
            @include flex-center;
            border-radius: 50%;
            box-shadow: 0px 11px 59px rgba(14, 117, 108, 0.19);
            margin-bottom: 35px;
        }
        .title{
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            @include breakpoint(sm){
                font-size: 24px;
            }
        }
        p{
            margin-bottom: 25px;
        }
    }
    .fd-thumb{
        max-width: 460px;
        width: 100%;
        height: 393px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}

// Explore Css

.explore-section{
    background-color: #ECF0F3;
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.explore-top{
    .swiper-arrow{
        @include flex-vertical-center;
        column-gap: 15px;
        .swiper-nav{
            background-color: var(--ed-color-common-white);
            color: var(--ed-color-theme-primary);
            height: 50px;
            width: 50px;
            @include flex-center;
            z-index: 1;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background-color: var(--ed-color-theme-primary);
                color: var(--ed-color-common-white);
            }
        }
    }
}

.explore-item{
    background-color: var(--ed-color-common-white);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 30px;
    .explore-thumb{
        height: 250px;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .explore-content{
        padding: 0 20px;
        .title{
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 1.5;
        }
    }
}

// Testi Css

.testimonial-section-12{
    position: relative;
    z-index: 1;
    .bg-shape{
        background: rgba(7, 166, 152, 0.38);
        filter: blur(225px);
        width: 603px;
        height: 603px;
        position: absolute;
        bottom: -174px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.testi-item-12{
    background-color: var(--ed-color-common-white);
    border: 2px solid #E0E5EB;
    border-radius: 25px;
    @include transition(all 0.3s ease-in-out);
    .icon{
        background-color: var(--ed-color-theme-primary);
        height: 50px;
        width: 50px;
        @include flex-center;
        border-radius: 50%;
        color: var(--ed-color-common-white);
        margin-bottom: 30px;
    }
    p{
        color: var(--ed-color-heading-primary);
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    &:hover{
        border: 2px solid var(--ed-color-theme-primary);
    }
}

// Counter Css

.counter-wrap-12{
    background: var(--ed-color-common-white);
    border: 1px solid #E0E5EB;
    box-shadow: 0px 10px 60px rgba(13, 120, 111, 0.15);
    border-radius: 20px;
    padding: 60px;
    position: relative;
    z-index: 1;
    @include breakpoint(sm){
        padding: 40px 20px;
    }
}

.counter-item-wrap-12{
    max-width: 610px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    @include breakpoint(md){
        margin-top: 40px;
    }
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .counter-item-12{
        background-color: var(--ed-color-grey-1);
        display: grid;
        align-items: center;
        grid-template-columns: 60px 1fr;
        grid-gap: 10px;
        border: 1px solid #E0E5EB;
        border-radius: 10px;
        padding: 25px 30px;
        .content{
            .title{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 0px;
                line-height: 1;
                @include flex-vertical-center;
                .odometer-formatting-mark{
                    display: none;
                }
                .odometer-auto-theme{
                    font-family: inherit;
                    line-height: 1;
                }
            }
            p{
                color: var(--ed-color-heading-primary);
                margin-bottom: 0;
            }
        }
    }
}

// Team Section

.team-section-12{
    background-color: #1F2A2A;
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        .shape-3{
            position: absolute;
            top: 180px;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 246px;
            @include breakpoint(md){
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }            
        }
    }
}

.team-item-12{
    .team-thumb{
        height: 170px;
        width: 170px;
        border-radius: 50%;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .team-content{
        background-color: var(--ed-color-common-white);
        padding: 30px;
        text-align: center;
        border-radius: 10px;
        position: relative;
        max-width: 250px;
        margin: 0 auto;
        margin-top: 40px;
        &:before{
            background-color: var(--ed-color-common-white);
            content: "";
            height: 21px;
            width: 21px;
            border-radius: 4px 0 0 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            top: -10.5px;
        }
        .title{
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 0;
        }
        span{
            color: var(--ed-color-theme-primary);
        }
        .team-social{
            @include flex-vertical-center;
            justify-content: center;
            list-style: none;
            margin-top: 20px;
            li{
                &:not(:last-of-type){
                    margin-right: 10px;
                }
                a{
                    color: var(--ed-color-theme-primary);
                    @include flex-center;
                    height: 40px;
                    width: 40px;
                    border: 1px solid #E0E5EB;
                    border-radius: 50%;
                    &:hover{
                        background-color: var(--ed-color-theme-primary);
                        color: var(--ed-color-common-white);
                    }
                }
            }
        }
    }
    &.item-2{
        margin-top: 60px;
        @include breakpoint(md){
            margin-top: 0;
        }
    }
}

.blog-section-12{
    background-color: var(--ed-color-theme-primary);
    position: relative;
    z-index: 1;
    .shapes{
        .shape-1{
            position: absolute;
            bottom: 170px;
            left: 50px;
            z-index: -1;
        }
        .shape-2{
            position: absolute;
            top: 80px;
            right: 0;
            z-index: -1;
        }
    }
}

.blog-top{
    .blog-top-btn{
        .ed-primary-btn{
            background-color: var(--ed-color-common-white);
            color: var(--ed-color-theme-primary);
            &:before{
                background-color: var(--ed-color-heading-primary);
            }
            &:hover{
                color: var(--ed-color-common-white);
            }
        }
    }
}

.post-card-wrap-12{
    background-color: var(--ed-color-common-white);
    padding: 20px 10px;
    border-radius: 15px;
    .post-card-2{
        border-radius: 15px;
        margin-bottom: 0;
        box-shadow: none;
        .post-content{
            border: 1px solid var(--ed-color-border-1);
            border-left: none;
            border-radius: 0 15px 15px 0;
            @include breakpoint(md){
                border: 1px solid var(--ed-color-border-1);
                border-radius: 0 0 15px 15px;
            }
        }
    }
}

/* !END: Home 12 CSS */
