@use "../utilities" as *;

/**----------------------------------------
START: Theme Slider CSS
----------------------------------------*/

.slider-section{
    position: relative;
    z-index: 1;
    .edcare-slider-thumb{
        max-width: 80px;
        height: 260px;
        position: absolute;
        top: 50%;
        right: 120px;
        transform: translateY(-50%);
        z-index: 5;
        left: auto;
        bottom: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @include breakpoint(lg){
            right: 60px;
        }
        @include breakpoint(md){
            right: 20px;
        }
        @include breakpoint(sm){
            display: none;
        }
        .swiper-slide{
            .slider-thumb-item{
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: 3px solid var(--ed-color-common-white);
                cursor: pointer;
                @include transition(all 0.3s ease-in-out);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.swiper-slide-thumb-active{
                .slider-thumb-item{
                    border: 3px solid var(--ed-color-theme-primary);
                }
            }
        }
    }
}


.edcare-slider {
    position: relative;
    z-index: 2;
}

.slider-item {
    position: relative;
    overflow: hidden;
    z-index: 2;
    .bg-img{
        @include background;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .overlay{
        background: linear-gradient(180deg, rgba(0, 231, 211, 0.25) -38.18%, rgba(0, 7, 7, 0.25) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .overlay-2{
        background: rgba(22, 39, 38, 0.47);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .slider-content-wrap {
        max-width: 100%;
        width: 100%;
        z-index: 10;
        padding: 150px 0 150px 0;
        row-gap: 30px;
        @include breakpoint(lg){
            padding-left: 0px;
        }
        @include breakpoint(md){
            padding: 100px 0;
        }
        .slider-content{
            .sub-heading-wrap{
                display: inline-block;
                position: relative;
                margin-bottom: 30px;
                .sub-heading{
                    background: rgba(255, 255, 255, 0.01);
                    border: 1px solid #07A698;
                    backdrop-filter: blur(40px);
                    border-radius: 100px;
                    color: var(--ed-color-common-white);
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    border-radius: 100px;
                    padding: 5px 20px;
                    margin-bottom: 0;
                    line-height: 1;
                    padding: 10px 20px 10px 20px;
                    position: relative;
                    @include transition(all 0.3s ease-in-out);
                    @include breakpoint(sm){
                        font-size: 12px;
                    }
                }
            }
            .edcare-caption{
                &.heading{
                    .edcare-cap{
                        font-size: 60px;
                        font-weight: 600;
                        color: var(--ed-color-common-white);
                        line-height: 1;
                        margin-bottom: 10px;
                        @include breakpoint(lg){
                            font-size: 50px;
                        }
                        @include breakpoint(sm){
                            font-size: 30px;
                            line-height: 1.3;
                            margin-bottom: 0px;
                        }
                        &.edcare-cap-2{
                            @include breakpoint(sm){
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
            .edcare-slider-desc{
                p{
                    color: var(--ed-color-common-white);
                    font-size: 18px;
                    margin-bottom: 50px;
                    margin-top: 30px;
                }
            }
            .slider-btn-wrap{
                @include flex-vertical-center;
                column-gap: 20px;
                flex-wrap: wrap;
                row-gap: 15px;
            }
        }
    }
}

/* Text Animation */
.edcare-animation,
.edcare-animation span {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.edcare-animation span {
    display: inline-block;
}

/* Fade Effect */
.edcare-fadeIn {
    animation-name: asFadeIn;
}

@keyframes asFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.edcare-fadeInLeft {
    animation-name: asFadeInLeft;
}

@keyframes asFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
    }
}

.edcare-fadeInRight {
    animation-name: asFadeInRight;
}

@keyframes asFadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
    }
}

.edcare-fadeInDown {
    animation-name: asFadeInTop;
}

@keyframes asFadeInTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
    }
}

.edcare-fadeInUp {
    animation-name: asFadeInBottom;
}

@keyframes asFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
    }
}

/* Move From Effect */
.edcare-moveFromLeft {
    animation-name: asMoveFromLeft;
}

@keyframes asMoveFromLeft {
    from {
        visibility: hidden;
        transform: translateX(-50px);
    }

    to {
        visibility: visible;
    }
}

.edcare-moveFromRight {
    animation-name: asMoveFromRight;
}

@keyframes asMoveFromRight {
    from {
        visibility: hidden;
        transform: translateX(50px);
    }

    to {
        visibility: visible;
    }
}

.edcare-moveFromTop {
    animation-name: asMoveFromTop;
}

@keyframes asMoveFromTop {
    from {
        visibility: hidden;
        transform: translateY(-50px);
    }

    to {
        visibility: visible;
    }
}

.edcare-moveFromBottom {
    animation-name: asMoveFromBottom;
}

@keyframes asMoveFromBottom {
    from {
        visibility: hidden;
        transform: translateY(50px);
    }

    to {
        visibility: visible;
    }
}

/* Blur Effect */

.edcare-blurIn {
    animation-name: asBlurIn;
}

@keyframes asBlurIn {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}

.edcare-blurInLeft {
    animation-name: asBlurInLeft;
}

@keyframes asBlurInLeft {
    from {
        transform: translateX(50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.edcare-blurInRight {
    animation-name: asBlurInRight;
}

@keyframes asBlurInRight {
    from {
        transform: translateX(-50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.edcare-blurInTop {
    animation-name: asBlurInTop;
}

@keyframes asBlurInTop {
    from {
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.edcare-blurInBottom {
    animation-name: asBlurInBottom;
}

@keyframes asBlurInBottom {
    from {
        transform: translateY(-50px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Zoom Effect */
.edcare-zoomIn {
    animation-name: asZoomIn;
}

@keyframes asZoomIn {
    from {
        transform: scale(5);
        opacity: 0;
    }
}

.edcare-zoomInLeft {
    animation-name: asZoomInLeft;
}

@keyframes asZoomInLeft {
    from {
        transform: scale(5) translateX(-50%);
        opacity: 0;
    }
}

.edcare-zoomInRight {
    animation-name: asZoomInRight;
}

@keyframes asZoomInRight {
    from {
        transform: scale(5) translateX(50%);
        opacity: 0;
    }
}

.edcare-zoomInTop {
    animation-name: asZoomInTop;
}

@keyframes asZoomInTop {
    from {
        transform: scale(10) translateY(-50%);
        opacity: 0;
    }
}

.edcare-zoomInBottom {
    animation-name: asZoomInBottom;
}

@keyframes asZoomInBottom {
    from {
        transform: scale(10) translateY(50%);
        opacity: 0;
    }
}

/* Flip Effect */
.edcare-flipInTop {
    animation-name: asFlipInTop;
}

@keyframes asFlipInTop {
    from {
        transform: perspective(600px);
        opacity: 0;
    }

    30% {
        transform: perspective(600px) rotateX(180deg);
        transform-origin: 0 0;
        animation-timing-function: ease-out;
    }

    to {
        transform: perspective(600px);
    }
}

.edcare-flipInBottom {
    animation-name: asFlipInBottom;
}

@keyframes asFlipInBottom {
    from {
        transform: perspective(600px);
        opacity: 0;
    }

    30% {
        transform: perspective(600px) rotateX(180deg);
        transform-origin: bottom;
        animation-timing-function: ease-out;
    }

    to {
        transform: perspective(600px);
    }
}

/* Roll Effect */
.edcare-rollFromLeft {
    animation-name: asRollFromLeft;
}

@keyframes asRollFromLeft {
    from {
        transform: translateX(-60px) perspective(600px) rotateY(180deg);
        opacity: 0;
    }
}

.edcare-rollFromRight {
    animation-name: asRollFromRight;
}

@keyframes asRollFromRight {
    from {
        transform: translateX(60px) perspective(600px) rotateY(-180deg);
        opacity: 0;
    }
}

.edcare-rollFromTop {
    animation-name: asRollFromTop;
}

@keyframes asRollFromTop {
    from {
        transform: translateY(-60px) perspective(600px) rotateX(180deg);
        opacity: 0;
    }
}

.edcare-rollFromBottom {
    animation-name: asRollFromBottom;
}

@keyframes asRollFromBottom {
    from {
        transform: translateY(60px) perspective(600px) rotateX(-180deg);
        opacity: 0;
    }
}

/* Rotate Skate Effect */
.edcare-rotateSkateInRight {
    animation-name: asRotateSkateInRight;
}

@keyframes asRotateSkateInRight {
    from {
        transform: scaleX(0.2) translateX(100px);
        opacity: 0;
    }
}

.edcare-rotateSkateInLeft {
    animation-name: asRotateSkateInLeft;
}

@keyframes asRotateSkateInLeft {
    from {
        transform: scaleX(0.2) translateX(-100px);
        opacity: 0;
    }
}

.edcare-rotateSkateInTop {
    animation-name: asRotateSkateInTop;
}

@keyframes asRotateSkateInTop {
    from {
        transform: scaleY(0.2) translateY(-100px);
        opacity: 0;
    }
}

.edcare-rotateSkateInBottom {
    animation-name: asRotateSkateInBottom;
}

@keyframes asRotateSkateInBottom {
    from {
        transform: scaleY(0.2) translateY(100px);
        opacity: 0;
    }
}

/* PopUp Effect */
.edcare-popUp {
    animation-name: asPopUp;
}

@keyframes asPopUp {
    0% {
        visibility: hidden;
    }

    50% {
        transform: scale(1.1);
        visibility: visible;
    }
}

.edcare-popUpLeft {
    animation-name: asPopUpLeft;
}

@keyframes asPopUpLeft {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
        transform: translateX(-20px) scale(1.1);
        animation-timing-function: ease-in;
    }
}

.edcare-popUpRight {
    animation-name: asPopUpRight;
}

@keyframes asPopUpRight {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
        transform: translateX(20px) scale(1.1);
        animation-timing-function: ease-in;
    }
}

/* Kenburns Top */

.swiper-slide-active .kenburns-top {
	-webkit-animation-name: kenburns-top;
	animation-name: kenburns-top;
}

@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}

	100% {
		-webkit-transform: scale(1.08) translateY(-15px);
		transform: scale(1.08) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}

	100% {
		-webkit-transform: scale(1.08) translateY(-15px);
		transform: scale(1.08) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}



/* !END: Theme Slider CSS */
